################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.nupkg
tools
!tools/packages.config
.vs
*.lock.json
obj/
bin/
packages/