################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.nupkg
*.nuget.targets
tools
!tools/packages.config
.vs/
*.lock.json
obj/
bin/
packages/
.nuke/
