<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FubarCoder.RestSharp.Portable.Core" version="3.1.0" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="FubarCoder.RestSharp.Portable.HttpClient" version="3.1.0" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="FubarCoder.RestSharp.Portable.OAuth" version="3.1.0" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="FubarCoder.RestSharp.Portable.OAuth2" version="3.1.0" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Portable.BouncyCastle-Signed" version="1.7.0.2" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
</packages>