@model Sample.Web.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>StravaSharp</h1>
    <p class="lead">This is a dummy web sample to give some hint about getting started with the library.</p>
    <p>Setup your app's credentials in Config.cs!</p>
    <p>@Html.ActionLink("Activities", "List", "Home", new { @class = "btn btn-primary" })</p>
</div>

@{
    foreach (var activity in Model.Activities)
    {
        <div class="row">
            <p><b>@activity.Name</b></p>
            <p>@activity.Distance <i>@activity.Start</i></p>
        </div>
    }
}
